@model PagedList.IPagedList<Rico.Models.GroupPicture>

@{
    ViewBag.Title = "Quản lý Danh Mục ảnh";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Styles
{
    <!--Sử dụng cho Confirm delete-->
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
}

@section Scripts
{
    <!-- Ajax sử dụng cho phân trang  -->
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <!--Sử dụng cho Confirm delete-->
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.easy-confirm-dialog.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".deletemultiple").easyconfirm({
                locale: { title: 'Xóa nhiều Danh Mục ảnh', button: ['Không', 'Có'] }
            });
        })
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            //Ajax sử dụng tìm kiếm sản phẩm theo tên
            $('#GroupPictureName').keyup(function () {
                var grouppicturename = $(this).val();

                var catgrouppicture = $("CatGroupPicture").val();
                $.post("/GroupPicture/Album", { "grouppicturename": grouppicturename, "catgrouppicture": catgrouppicture },
                    function (data) {
                        $("#DataTable").html(data);
                    });
            });

            //Ajax sử dụng tìm kiếm sản phẩm theo Danh Mục
            $('#CatGroupPicture').change(function () {
                var catgrouppicture = $(this).val();
                var grouppicturename = $("#GroupPictureName").val();

                $.post("/GroupPicture/Album", { "catgrouppicture": catgrouppicture, "grouppicturename": grouppicturename },
                    function (data) {
                        $("#DataTable").html(data);
                    });
            });

        });
    </script>

    <!--Ajax tùy biến số Danh Mục ảnh hiển thị trên trang-->
<script type="text/javascript">
        $(document).ready(function () {
            $('#ddlGroupPictureAmount').change(function () {
                var grouppictureAmount = $(this).val();
                var sortName = '@ViewBag.CurrentSortName';
                $.post("/GroupPicture/LoadGroupPictureAmount2", { "grouppictureAmount": grouppictureAmount, "sortName": sortName },
                    function (data) {
                        $("#DataTable").html(data);
                    });
            });
        });
</script>

    <!--Reset ô tìm kiếm-->
    <script type="text/javascript">

    $('#GroupPictureName').focus(function () {
                $(this).val('');
            });
        });
    </script>
}

@using (Html.BeginForm("MultiCommand2", "GroupPicture", FormMethod.Post))
{
    <div class="container-fluid">
        <div style="width: 100%; margin: 0 auto;">
            <div id="Breadcrumb" class="Block Breadcrumb ui-widget-content ui-corner-top ui-corner-bottom">
                <ul>
                    <li><a class='SecondLast' href='/admin/default'><i class="icon-home" style="font-size: 14px;"></i>Trang quản trị</a></li>
                    <li class='Last'><a href="/admin/album">Album ảnh cưới</a></li>
                </ul>
            </div>
            <div style="clear: both;"></div>
            <div id="cph_Main_ContentPane">
                <div class="widget">
                    <div class="widget-title">
                        <h4><i class="icon-list-alt"></i>&nbsp;Album ảnh cưới</h4>
                        <!-- begin menu -->
                        @Html.Partial("_RightNav2")
                        <!-- end menu -->

                        <div id="hiddenToolBarScroll" class="scrollBox hidden">
                            <h4>
                                <i class="icon-list-alt"></i>&nbsp;Album ảnh cưới
                            </h4>
                            <div class="FloatMenuBar">
                                @Html.Partial("_RightNav2")
                                <!-- begin menu -->
                                <!-- end menu -->


                            </div>
                        </div>
                    </div>

                    <div class="widget-body">
                        <!--Partial View hiển thị GroupPicture-->
                        <div class="row-fluid">

                            <div class="span3">
                                <div id="sample_1_length" class="dataTables_length">
                                    @Html.DropDownList("ddlGroupPictureAmount", null, new { style = "width:180px;" })
                                </div>
                            </div>

                            <!--Tìm kiếm sản phẩm-->
                            <div class="span9 form-search pull-right text-right">

                                @Html.TextBox("GroupPictureName", ViewBag.CurrentGroupPictureNameFilter as string, new { @Value = "Tên Danh Mục ảnh", @Style = "color:#999999;", @id = "GroupPictureName" })
                                @Html.DropDownList("Cat", null, "Chọn Danh Mục ảnh", new { @id = "CatGroupPicture" })
                                @*<button type="submit" id="btnSearch" name="btnSearch" class="btn"><i class="icon-filter"></i>Tìm kiếm</button>*@
                            </div>
                        </div>
                        @{Html.RenderPartial("_Data2", Model);}
                    </div>
                </div>
            </div>

        </div>
    </div>
                            }
