@model Rico.Models.GroupPicture
@{
    ViewBag.Title = "Thêm mới Danh Mục ảnh";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Scripts
{
    <!-- Validate Data -->
    <script type="text/javascript">

        (function ($, W, D) {

            var JQUERY4U = {};

            JQUERY4U.UTIL =
            {
                setupFormValidation: function () {
                    //validation rules
                    $("#formGroupPicture").validate({
                        rules: {
                            Name: "required",
                            Title: "required",
                            Description: "required",
                            Keyword: "required",
                            Ord: {
                                required: true,
                                number: true
                            }
                        },
                        messages: {
                            Name: "Phải nhập tên Danh Mục",
                            Title: "Phải nhập tiêu đề",
                            Description: "Phải nhập miêu tả",
                            Keyword: "Phải nhập từ khóa",
                            Ord: {
                                required: "Phải nhập thứ tự",
                                number: "Phải nhập kiểu số"
                            }
                        },
                        submitHandler: function (form) {
                            form.submit();
                        }
                    });
                }
            }

            //when the dom has loaded setup form validation rules
            $(D).ready(function ($) {
                JQUERY4U.UTIL.setupFormValidation();
            });

        })(jQuery, window, document);
    </script>
    <!-- End Validate Data -->

<script type="text/javascript">
        $(function () {
            $("#SelectImage").click(function () {
                var finder = new CKFinder();
                finder.selectActionFunction = function (fileUrl) {
                    $("#Image").val(fileUrl);
                };
                finder.popup();
            });
        });
</script>
}

<div class="container-fluid">
    <div style="width: 100%; margin: 0 auto;">

        <div id="Breadcrumb" class="Block Breadcrumb ui-widget-content ui-corner-top ui-corner-bottom">
            <ul>
                <li><a href='/admin/default'><i class="icon-home" style="font-size: 14px;"></i>Trang quản trị</a></li>
                <li class='SecondLast'><a href='/admin/danh-muc-anh'>Danh Mục ảnh</a></li>
                <li class='Last'><span>Thêm mới Danh Mục ảnh</span></li>
            </ul>
        </div>

        <div style="clear: both;"></div>

        @using (Html.BeginForm("Create", "GroupPicture", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formGroupPicture", @class = "validate-form" }))
        {
            <div id="cph_Main_ContentPane">
                <div class="widget">
                    <!-- widget-title -->
                    <div class="widget-title">
                        <h4><i class="icon-reorder"></i>&nbsp;Thêm mới Danh Mục ảnh</h4>

                        <!-- Button -->
                        @Html.Partial("_SaveNav")
                        <!-- End Button -->

                        <div id="hiddenToolBarScroll" class="scrollBox hidden">
                            <h4>
                                <i class="icon-reorder"></i>&nbsp;Thêm mới Danh Mục ảnh</h4>

                            <div class="FloatMenuBar">

                                @Html.Partial("_SaveNav")
                            </div>
                        </div>

                    </div>
                    <!-- widget-title -->

                    <!-- widget-body -->
                    <div class="widget-body">

                        <div id="tabs">
                            <div id="tabs-1">

                                <table class="admintable" style="width: 100%;">

                                    <tr>
                                        <td class="key">Thuộc Danh Mục cấp cha <span class="Required">*</span>
                                        </td>
                                        <td>
                                            @Html.DropDownList("GroupPicture", "Danh Mục ảnh cấp 1")
                                            <span class="tooltip-help"><span class="tooltipContent">
                                                <p class="tooltiptitle">
                                                    Danh Mục ảnh cấp cha
                                                </p>
                                                <p class="tooltipmessage">
                                                    Danh Mục ảnh cấp cha
                                                </p>
                                            </span></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="key">Tên Danh Mục ảnh <span class="Required">*</span>
                                        </td>
                                        <td>
                                            @Html.TextBox("Name", "", new { @class = "text", style = "width:1250px;" })
                                            <span class="tooltip-help"><span class="tooltipContent">
                                                <p class="tooltiptitle">
                                                    Tên
                                                </p>
                                                <p class="tooltipmessage">
                                                    Tên
                                                </p>
                                            </span></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="key">Tiêu đề SEO <span class="Required">*</span>
                                        </td>
                                        <td>
                                            @Html.TextBox("Title", "", new { @class = "text", style = "width:1250px;" })
                                            <span class="tooltip-help"><span class="tooltipContent">
                                                <p class="tooltiptitle">
                                                    Tiêu đề
                                                </p>
                                                <p class="tooltipmessage">
                                                    Tiêu đề
                                                </p>
                                            </span></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="key">Mô tả SEO <span class="Required">*</span>
                                        </td>
                                        <td>
                                            @Html.TextBox("Description", "", new { @class = "text", style = "width:1250px;" })
                                            <span class="tooltip-help"><span class="tooltipContent">
                                                <p class="tooltiptitle">
                                                    Mô tả
                                                </p>
                                                <p class="tooltipmessage">
                                                    Mô tả
                                                </p>
                                            </span></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="key">
                                            Từ khóa SEO <span class="Required">*</span>
                                        </td>
                                        <td>
                                            @Html.TextBox("Keyword", "", new { @class = "text", style = "width:1250px;" })
                                            <span class="tooltip-help">
                                                <span class="tooltipContent">
                                                    <p class="tooltiptitle">
                                                        Từ khóa
                                                    </p>
                                                    <p class="tooltipmessage">
                                                        Từ khóa
                                                    </p>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="key">Thứ tự <span class="Required">*</span>
                                        </td>
                                        <td>
                                            @Html.TextBox("Ord", "", new { @onkeypress = "OnlyInputNumber(0)" })
                                            <span class="tooltip-help"><span class="tooltipContent">
                                                <p class="tooltiptitle">
                                                    Thứ tự
                                                </p>
                                                <p class="tooltipmessage">
                                                    Thứ tự
                                                </p>
                                            </span></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="key">Ảnh</td>
                                        <td>
                                            @Html.TextBox("Image", "", new { @class = "text", style = "width:1250px" }) &nbsp;
                                            <input id="SelectImage" type="button" value="Chọn ảnh" />
                                            <span class="tooltip-help">
                                                <span class="tooltipContent">
                                                    <p class="tooltiptitle">
                                                        Ảnh
                                                    </p>
                                                    <p class="tooltipmessage">
                                                        Ảnh
                                                    </p>
                                                </span>
                                            </span>
                                        </td>
                                    </tr> 

                                    <tr>
                                        <td class="key">
                                            Địa điểm
                                        </td>
                                        <td>
                                            @Html.TextBox("Place", "", new { @class = "text", style = "width:1250px" })
                                            <span class="tooltip-help">
                                                <span class="tooltipContent">
                                                    <p class="tooltiptitle">
                                                        Địa điểm
                                                    </p>
                                                    <p class="tooltipmessage">
                                                        Địa điểm
                                                    </p>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="key">
                                            Trang chủ
                                        </td>
                                        <td>
                                            @Html.CheckBox("Index", true)
                                            <span class="tooltip-help">
                                                <span class="tooltipContent">
                                                    <p class="tooltiptitle">
                                                        Trang chủ
                                                    </p>
                                                    <p class="tooltipmessage">
                                                        Trang chủ
                                                    </p>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="key">Ưu tiên 
                                        </td>
                                        <td>
                                            @Html.CheckBox("Priority", true)
                                            <span class="tooltip-help"><span class="tooltipContent">
                                                <p class="tooltiptitle">
                                                    Ưu tiên
                                                </p>
                                                <p class="tooltipmessage">
                                                    Ưu tiên
                                                </p>
                                            </span></span>
                                        </td>
                                    </tr>

                                    

                                    <tr>
                                        <td class="key">Kích hoạt
                                        </td>
                                        <td>
                                            @Html.CheckBox("Active", true)
                                            <span class="tooltip-help"><span class="tooltipContent">
                                                <p class="tooltiptitle">
                                                    Kích hoạt
                                                </p>
                                                <p class="tooltipmessage">
                                                    Kích hoạt
                                                </p>
                                            </span></span>
                                        </td>
                                    </tr>


                                </table>

                            </div>
                        </div>

                    </div>
                    <!-- widget-body -->

                </div>
            </div>
        }
    </div>
</div>

