@using PagedList.Mvc;
@using PagedList;
@using System.Web.Mvc;
@using System.Web.Mvc.Ajax;
@using Webdiyer.WebControls.Mvc;
@model PagedList.IPagedList<Rico.Models.Member>

@{
    Layout = null;
}

<!--Sử dụng cho Confirm delete-->
<script type="text/javascript">
    $(document).ready(function () {
        $(".yesno").easyconfirm({
            locale: { title: 'Xóa', button: ['Không', 'Có'] }
        });
    })
</script>

<!--Ajax sử dụng sửa dữ liệu trực tiếp trên form-->
<script type="text/javascript">
    $(function () {
        //$('#msg').hide();
        $(".alert").hide();

        
        $(".active").click(function () {
            var id = $(this).attr("id");
            $.post("/Member/ChangeActive", { "id": id },
                function (data) {
                    $(".alert").replaceWith("<div class='alert alert-info'>" + data + "</div>");
                    $(".alert").fadeOut(4000);

                });
        });

      
        // Ajax sử dụng cho change name
        $(".name").change(function () {
            var id = $(this).attr("id");
            var name = $(this).val();
            if (name == "") {
                $(".alert").replaceWith("<div class='alert alert-info'>" + "Phải nhập đúng dữ liệu." + "</div>");
                $(".alert").fadeOut(4000);                
            } else {               
                $.post("/Member/UpdateDirect", { "id": id, "Name": name },
                    function (data) {
                        $(".alert").replaceWith("<div class='alert alert-info'>" + data + "</div>");
                        $(".alert").fadeOut(4000);                       
                    });
            }
        });


        // Ajax sử dụng cho change tag
        $(".username").change(function () {
            var id = $(this).attr("id");
            var username = $(this).val();
            if (username == "") {
                $(".alert").replaceWith("<div class='alert alert-info'>" + "Phải nhập đúng dữ liệu." + "</div>");
                $(".alert").fadeOut(4000);               
            } else {             
                $.post("/Member/UpdateDirect", { "id": id, "Username": username },
                    function (data) {
                        $(".alert").replaceWith("<div class='alert alert-info'>" + data + "</div>");
                        $(".alert").fadeOut(4000);                       
                    });
            }
        });
   

    // Ajax sử dụng cho change tag
    $(".password").change(function () {
        var id = $(this).attr("id");
        var password = $(this).val();
        if (password == "") {
            $(".alert").replaceWith("<div class='alert alert-info'>" + "Phải nhập đúng dữ liệu." + "</div>");
            $(".alert").fadeOut(4000);               
        } else {             
            $.post("/Member/UpdateDirect", { "id": id, "Password": password },
                function (data) {
                    $(".alert").replaceWith("<div class='alert alert-info'>" + data + "</div>");
                    $(".alert").fadeOut(4000);                       
                });
        }
    });
  
        // Ajax sử dụng cho change tag
    $(".phone").change(function () {
        var id = $(this).attr("id");
        var phone = $(this).val();
        if (phone == "") {
            $(".alert").replaceWith("<div class='alert alert-info'>" + "Phải nhập đúng dữ liệu." + "</div>");
            $(".alert").fadeOut(4000);
        } else {
            $.post("/Member/UpdateDirect", { "id": id, "Phone": phone },
                function (data) {
                    $(".alert").replaceWith("<div class='alert alert-info'>" + data + "</div>");
                    $(".alert").fadeOut(4000);
                });
        }
    });

    $(".email").change(function () {
        var id = $(this).attr("id");
        var email = $(this).val();
        if (email == "") {
            $(".alert").replaceWith("<div class='alert alert-info'>" + "Phải nhập đúng dữ liệu." + "</div>");
            $(".alert").fadeOut(4000);
        } else {
            $.post("/Member/UpdateDirect", { "id": id, "Email": email },
                function (data) {
                    $(".alert").replaceWith("<div class='alert alert-info'>" + data + "</div>");
                    $(".alert").fadeOut(4000);
                });
        }
    });

    //function clearUpdateMessage() {
    //    $('#update-message').text("");
    //}

    //function htmlDecode(value) {
    //    if (value) {
    //        return $('<div />').html(value).text();
    //    }
    //    else {
    //        return '';
    //    }
        //}
    });
</script>

   <!--Ajax sử dụng sắp xếp dữ liệu trực tiếp trên form-->
<script type="text/javascript">
    $(document).ready(function () {

        // Ajax sử dụng sắp xếp theo tên
        $('#name').click(function () {
            var sortName = '@ViewBag.SortNameParm';
            var currentMemberAmount = '@ViewBag.CurrentMemberAmount';
            $.post("/Member/SortByName", { "sortName": sortName, "currentMemberAmount": currentMemberAmount },
                function (data) {
                    $("#DataTable").html(data);
                });
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        // Ajax sử dụng sắp xếp theo ngày tạo
        $('#permiss').click(function () {
            var sortPermiss = '@ViewBag.SortPermissParm';
            var currentMemberAmount = '@ViewBag.CurrentMemberAmount';
            $.post("/Member/SortByPermiss", { "sortPermiss": sortPermiss, "currentMemberAmount": currentMemberAmount },
            function (data) {
                $("#DataTable").html(data);
            });
        });
    });
</script>

<div id="DataTable">

    <div class="row-fluid">
        <div class="span5">
            <div class="span5">
                <div style="margin-top: 18px;">
                    Tổng số thành viên: <span style='color: #A52A2A;'>@Model.Count</span> / <span style='color: #333;'>@Model.TotalItemCount</span>
                </div>
            </div>
        </div>
        
        </div>
    <div class="pagedlist-top">
        <!--Partial View phân trang-->
        @Html.Partial("_Paging")
    </div>
    <!--Danh Mục Danh Mục sản phẩm-->
  
    <table class="table table-striped table-bordered dataTable table-hover" cellspacing="0" id="tblGroupNews" style="border-collapse: collapse;">

        <tr>
            <th scope="col" class="CheckBoxsmall" style="text-align: center; width: 20px;">
                <input type="checkbox" onclick="Javascript: chkSelectAll_OnClick(this)" id="chkSelectAll" />
            </th>
            <th scope="col" id="name" class="NumberOrdDown">@Html.Label("Tên thành viên")</th>
            <th scope="col" id="username">Tài khoản</th>
            <th scope="col" id="password">Mật khẩu</th>
            <th scope="col" id="phone">Điện thoại</th>
            <th scope="col" id="email">Email</th>
            <th scope="col" id="permiss" class="NumberOrdDown">@Html.Label("Quyền hạn")</th>
            <th scope="col" id="active" class="number" style="width: 40px;">Kích hoạt</th>
            <th scope="col" width="120px" class="number">Chức năng</th>
        </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr style="background-color: #fff">
                <td style="text-align: center" onmousemove="Javascript:chkSelect_OnMouseMove(this)" onmouseout="Javascript:chkSelect_OnMouseOut(this,0)">
                    @Html.CheckBox("chk" + Model[i].Id, new { id = "chkSelect", onclick = "Javascript:chkSelect_OnClick(this,0)", @class = "chk" })
                </td>
                <td class="Code" align="left">
                    @Html.TextBox("Name", Model[i].Name, new { @style = "width:270px; text-align: left;", @class = "name", @id = @Model[i].Id })
                </td>
                <td class="Code" align="left">
                    @Html.TextBox("Username", Model[i].Username, new { @style = "width:150px; text-align: left;", @class = "username", @id = @Model[i].Id })
                </td>
                <td class="Code" align="left">
                    @Html.TextBox("Password", Model[i].Password, new { @style = "width: 150px; text-align: left;", @class = "password", @id = @Model[i].Id })
                </td>
                <td class="Code" align="left">
                    @Html.TextBox("Phone", Model[i].Phone, new { @style = "width:90px; text-align: left;", @class = "phone", @id = @Model[i].Id, onkeypress = "OnlyInputNumber(0)" })
                </td>
                <td class="Code" align="left">
                    @Html.TextBox("Email", Model[i].Email, new { @style = "width:150px; text-align: left;", @class = "email", @id = @Model[i].Id })
                </td>
                <td class="Code" align="left">
                    @if (Model[i].Permiss == 0)
                    {
                        <p>Nhân viên</p>
                    }
                    else if (Model[i].Permiss == 1)
                    {
                        <p>Manager</p>
                    }
                    else if (Model[i].Permiss == 2)
                    {
                        <p>Administrator</p>
                    }
                    else
                    {
                        <p>Chúa trời !!</p>
                    }
                </td>
                 <td class="text-center" style="vertical-align: middle;">
                    @Html.CheckBox("chkActive" + Model[i].Id, (Model[i].Active == true) ? true : false, new { @class = "chk active", @id = @Model[i].Id })
                 </td>
                <td class="text-center">
                    <a href="/admin/thanh-vien/sua?id=@Model[i].Id" class="action-link-button" id="lbtUpdateProduct2946698" title="Chỉnh sửa"><i class="icon-edit"></i></a>

                    <a href="/admin/thanh-vien/xoa?id=@Model[i].Id" class="yesno action-link-button" title="Bạn chắc chắn muốn xóa thành viên này ?"><i class="icon-trash"></i></a>
                </td>
            </tr>
        }

    </table>

    <!--Partial View phân trang-->
    <div class="pagedlist-bottom">
        @Html.Partial("_Paging")
        </div>
        <div style="clear: both;"></div>

    </div>
