<strong>@Html.Raw(ViewBag.Name).</strong><br>
            Địa chỉ: @Html.Raw(ViewBag.Address)<br>
            Điện thoại: @Html.Raw(ViewBag.Phone) - HotLine: @Html.Raw(ViewBag.Hotline)<br>
            Website: <a href="http://@Html.Raw(ViewBag.Website)">@Html.Raw(ViewBag.Website)</a> * Email: <a href="mailto:@Html.Raw(ViewBag.Email)">@Html.Raw(ViewBag.Email)</a>
