@*<div class="col-1 fll">
    <div class="logo-box">
        <div class="inner">
            <h1 style="margin:0;"><a href="@Html.Raw(ViewBag.ImgLink)"><img src="@Html.Raw(ViewBag.ImgSource)" alt="@Html.Raw(ViewBag.ImgName)" /></a></h1>
        </div>
    </div>
</div>*@

<a class="navbar-brand" href="@Html.Raw(ViewBag.ImgLink)"><img style="height:80px;" class="img-responsive" src="@Html.Raw(ViewBag.ImgSource)" alt="@Html.Raw(ViewBag.ImgName)" /></a>