@using PagedList.Mvc;
@using PagedList;
@model PagedList<Rico.Models.sp_Advertise_GetByAll_Result>

@{
    ViewBag.Title = "Link ảnh";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Styles
{
    <!--Sử dụng cho Confirm delete-->
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />

    <!--Sử dụng cho Phân trang-->
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <!--Sử dụng cho Confirm delete-->
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.easy-confirm-dialog.js"></script>
    <!--Confirm xóa-->
   <script type="text/javascript">
        $(document).ready(function () {
            $(".deletemultiple").easyconfirm({
                locale: { title: 'Xóa nhiều', button: ['Không', 'Có'] }
            });
        })
</script>
    <!-- #region load amount-->
<script type="text/javascript">
        $(document).ready(function () {
            $('#ddlAdvertiseAmount').change(function () {
                var advertiseAmount = $(this).val();
                var sortName = '@ViewBag.CurrentSortName';
                $.post("/Advertise/LoadAdvertiseAmount", { "advertiseAmount": advertiseAmount, "sortName": sortName },
                    function (data) {
                        $("#DataTable").html(data);
                    });
            });
        });
</script>
<!--#endregion-->
    <!--Tim kiem quang cao theo vi tri-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sllPosition').change(function () {
                //$('#ajaxAdvertise').css('backgroundColor', 'green');
                //alert("vao roiiiiii");
                var positionSearch = $('#sllPosition').val();
                //alert(posstionSearch);
                jQuery.ajax({
                    url: '@Url.Action("Index", "Advertise")',
                    type: 'Post',
                    contentType: 'application/json',
                    data: JSON.stringify({ positionSearch: positionSearch }),
                    success: function (result) {
                        //alert(result);
                        //$('#ajaxAdvertise').css('backgroundColor', 'green');
                        $('#DataTable').html(result);
                    }
                });
            });
        });

    </script>

    <!--Search-->
    <script type="text/javascript">    
    $(function () {
        $(".alert").hide();
        ///
        $("#btnSearch").click(function () {
            //your code            
            var searchString = $("#txtAdvertise").val();
            //alert(searchString);
            if (searchString != "") {
                $.post("/Advertise/Search", { "searchString": searchString },
                     //$.post("/Advertise/Search", { "searchString": searchString },
                    function (data) {
                            $(".alert").replaceWith("<div class='alert alert-info'>Nhìn đi tìm thấy rồi</div>");
                            $(".alert").fadeOut(1000);
                            $('#DataTable').html(data);
                    });
            }
            else {
                $(".alert").replaceWith("<div class='alert alert-error'>Bạn chưa nhập dữ liệu để tìm kiếm.</div>");
                $(".alert").fadeOut(5000);
            }
            //
        });
        ///
    });

</script>

    <!--Reset ô tìm kiếm-->
<script type="text/javascript">
        $(function () {
            $('#AdvertiseName').focus(function () {
                $(this).val('');
            });
        });
</script>

   <!--Sử dụng cho autocomplete-->
<script type="text/javascript">
        $(document).ready(function () {
            $('*[data-autocomplete-url]')
        .each(function () {
            $(this).autocomplete({
                source: $(this).data("autocomplete-url")
            });
        });
        });
</script>

}


@using (Html.BeginForm("MultiCommand", "Advertise", FormMethod.Post, new { @id = "formAdvertise" }))
{   
    <div class="container-fluid">
        <div style="width: 100%; margin: 0 auto;">
            <div id="Breadcrumb" class="Block Breadcrumb ui-widget-content ui-corner-top ui-corner-bottom">
                <ul>
                    <li class='SecondLast'><a href='/admin/default'><i class="icon-home" style="font-size: 14px;"></i>Trang quản trị</a></li>
                    <li class='Last'><a href='/admin/link-anh'>Link ảnh</a></li>
                </ul>
            </div>
            <div style="clear: both;"></div>
            <div id="cph_Main_ContentPane">
                <!--widget-->
                <div class="widget">
                    <!--widget-title-->
                    <div class="widget-title">
                        <h4><i class="icon-list-alt"></i>&nbsp;Link ảnh</h4>
                        <!-- begin menu -->
                        @Html.Partial("_RightNav")
                        <!-- end menu -->

                        <div id="hiddenToolBarScroll" class="scrollBox hidden">
                            <h4><i class="icon-list-alt"></i>&nbsp;Link ảnh</h4>
                            <div class="FloatMenuBar">
                                <!-- begin menu -->
                                @Html.Partial("_RightNav")
                                <!-- end menu -->
                            </div>
                        </div>

                    </div>
                    <!--widget-title-->

                    <!--widget-body-->
                    <div class="widget-body">
                        <div class="row-fluid">
                            <!-- Loc Theo Quang Cao -->
                            <!-- #region load amount-->
                            <div class="span2">
                                <div id="sample_1_length" class="dataTables_length">
                                    @Html.DropDownList("ddlAdvertiseAmount", null, new { style = "width:180px;" })
                                </div>
                            </div>
                            <!--#endregion-->
                            <div class="span2">
                                <div id="sample_1_length" class="dataTables_length">
                                    @Html.DropDownList("sllPosition", "Tất cả")
                                </div>
                            </div>
                            <!-- Loc Theo Quang Cao -->
                            <!--Paging-->                       
                                <div class="span8 form-search pull-right text-right">
                                    @Html.TextBox("AdvertiseName", ViewBag.CurrentFilter as string, new { data_autocomplete_url = Url.Action("Autocomplete"), @Value = "Nhập link ảnh", @Style = "color:#999999;", @id = "AdvertiseName" })

                                    <button type="submit" id="btnSearch" name="btnSearch" class="btn"><i class="icon-filter"></i>Tìm kiếm</button>
                                @*<input name="searchAdvertise" type="text" maxlength="100" id="txtAdvertise" placeholder="Nhập tên Link ảnh" style="width: 200px;" />   
                                    <label name="btnSearch" id="btnSearch" class="toolbar btn btn-info" ><i class="icon-search"></i> Tìm kiếm</label>*@
                            </div>
                            <!--Paging-->
                        </div>
                        <!-- Table Data-->
                        @{Html.RenderPartial("_Data", Model);}
                        <!-- Table Data-->

                    </div>
                    <!--widget-body-->
                </div>
                <!--widget-->
            </div>

        </div>
    </div>
}




