@using PagedList.Mvc;
@using PagedList;
@using Rico.Models;
@model PagedList.IPagedList<Rico.Models.Picture>
@{
    ViewBag.Title = @Html.Raw(ViewBag.tit);
    ViewBag.des = @Html.Raw(ViewBag.des);
    ViewBag.key = @Html.Raw(ViewBag.key);
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div id="Breadcrumb" class="Block Breadcrumb ui-widget-content ui-corner-top ui-corner-bottom col-xs-12 col-sm-12">
            <ul>
                <li class='SecondLast'><a href='/'><i class="icon-home" style="font-size: 14px;"></i>Trang chủ</a></li>
                <li class='Last'><a href='/anh/@Html.Raw(ViewBag.GpTag)'>@Html.Raw(ViewBag.GpName)</a></li>
                
            </ul>
        </div>
    </div>
    <div class="row album">
        <div class="col-sx-12 col-sm-12">            
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="col-sx-12 col-sm-4 album-wrapper">
                        <a class="fancybox-buttons" data-fancybox-group="button" href="/anh/@Html.Raw(ViewBag.GpTag)/@Model[i].Tag">
                            <img class="img-responsive" src="@Model[i].Image" alt="@Model[i].Name" />
                        </a>
                    </div>
                }
        </div>
    </div>
    <div class="row">
        <div class="paging-wrapper pagedlist-bottom">
            @Html.PagedListPager(Model, trang => Url.Action("Detail", "PictureView", new { trang = trang }), (PagedListRenderOptions)ViewBag.ship)
        </div>
    </div>
    </div>

