@model Rico.Models.Support
@{
    ViewBag.Title = "Chỉnh sửa Hỗ trợ viên";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section Scripts
{
     <!-- Validate Data -->
    <script type="text/javascript">

        (function ($, W, D) {

            var JQUERY4U = {};

            JQUERY4U.UTIL =
            {
                setupFormValidation: function () {
                    //validation rules
                    $("#Supportedit-form").validate({
                        rules: {
                            Name: "required",
                            Tel: {
                                required: true                               
                            },
                            Skype: "required",
                            Ord: {
                                required: true,
                                number: true
                            }
                        },
                        messages: {
                            Name: "Phải nhập tên hỗ trợ viên.",
                            Tel: {
                                required: "Phải nhập số điện thoại hỗ trợ viên."                              
                            },
                            Skype: "Nhập đúng nick Skype.",
                            Ord: {
                                required: "Phải nhập thứ tự.",
                                number: "Phải nhập kiểu số."
                            }
                        },
                        submitHandler: function (form) {
                            form.submit();
                        }
                    });
                }
            }

            //when the dom has loaded setup form validation rules
            $(D).ready(function ($) {
                JQUERY4U.UTIL.setupFormValidation();
            });

        })(jQuery, window, document);
    </script>
    <!-- End Validate Data -->

}

<div class="container-fluid">
    <div style="width: 100%; margin: 0 auto;">

        <div id="Breadcrumb" class="Block Breadcrumb ui-widget-content ui-corner-top ui-corner-bottom">
            <ul>
                <li><a href='/admin/default'><i class="icon-home" style="font-size: 14px;"></i>Trang quản trị</a></li>
                <li class='SecondLast'><a href='/admin/ho-tro'>Hỗ trợ viên</a></li>
                <li class='Last'><span>Sửa Hỗ trợ viên</span></li>
            </ul>
        </div>

        <div style="clear: both;"></div>

        @using (Html.BeginForm("Edit", "Support", new { id = @Model.Id }, FormMethod.Post, new { @id = "Supportedit-form", @class = "validate-form" }))
        {
            <div id="cph_Main_ContentPane">
                <div class="widget">
                    <!-- widget-title -->
                    <div class="widget-title">
                        <h4><i class="icon-reorder"></i>&nbsp;Sửa Hỗ trợ viên</h4>

                        <!-- Button -->
                        @Html.Partial("_SaveNav")
                        <!-- End Button -->

                        <div id="hiddenToolBarScroll" class="scrollBox hidden">
                            <h4>
                                <i class="icon-reorder"></i>&nbsp;Sửa Hỗ trợ viên</h4>
                            <div class="FloatMenuBar">

                                @Html.Partial("_SaveNav")
                            </div>
                        </div>

                    </div>
                    <!-- widget-title -->

                    <!-- widget-body -->
                    <div class="widget-body">
                       
                        <div id="tabs">
                            <div id="tabs-1">
                                @Html.HiddenFor(m => m.Id)
                                <table class="admintable" style="width: 100%;">

                                    <tr>
                                        <td class="key">
                                            Tên hỗ trợ viên<span class="Required">*</span>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.Name, "", new { @class = "text" })
                                            <span class="tooltip-help">
                                                <span class="tooltipContent">
                                                    <p class="tooltiptitle">
                                                        Tên hỗ trợ viên.
                                                    </p>
                                                    <p class="tooltipmessage">
                                                        Tên của hỗ trợ viên.
                                                    </p>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="key">
                                            Số điện thoại<span class="Required">*</span>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.Tel, "", new { @class = "text" })
                                            <span class="tooltip-help">
                                                <span class="tooltipContent">
                                                    <p class="tooltiptitle">
                                                        Số điện thoại hỗ trợ viên.
                                                    </p>
                                                    <p class="tooltipmessage">
                                                        Số điện thoại của hỗ trợ viên. Lưu ý số điện thoại không bao gồm kí tự hoặc chữ cái.
                                                    </p>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="key">
                                            Nick Skype<span class="Required">*</span>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.Skype, "", new { @class = "text" })
                                            <span class="tooltip-help">
                                                <span class="tooltipContent">
                                                    <p class="tooltiptitle">
                                                        Nick của hỗ trợ viên
                                                    </p>
                                                    <p class="tooltipmessage">
                                                        Nick của hỗ trợ viên
                                                    </p>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="key">
                                            Thứ tự <span class="Required">*</span>
                                        </td>
                                        <td>
                                            @*@Html.TextBox("Ord", "", new { @onkeypress = "OnlyInputNumber(0)" })*@
                                            @Html.TextBoxFor(m => m.Ord, "", new { @class = "text", onkeypress = "OnlyInputNumber(0)" })
                                            <span class="tooltip-help">
                                                <span class="tooltipContent">
                                                    <p class="tooltiptitle">
                                                        Thứ tự
                                                    </p>
                                                    <p class="tooltipmessage">
                                                        Thứ tự của hỗ trợ viên
                                                    </p>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="key">
                                            Kích hoạt
                                        </td>
                                        <td>
                                            @Html.CheckBoxFor(m => m.Active)
                                            <span class="tooltip-help">
                                                <span class="tooltipContent">
                                                    <p class="tooltiptitle">
                                                        Kích hoạt
                                                    </p>
                                                    <p class="tooltipmessage">
                                                        Kích hoạt
                                                    </p>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>  
   </table>

                            </div>
                        </div>

                    </div>
                    <!-- widget-body -->

                </div>
            </div>
        }
    </div>
</div>
